:root {
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: #f8d845;
  color: #272727;
}

p {
  font-size: 1.4rem;
}

.tag-sm {
  font-size: 1rem;
}

.container {}
